ul.rss-feed-items {
  list-style: none;
  margin:0;
  padding:0;
}

.rss-feed-block ul.rss-feed-items li {
  margin-bottom:10px;
}
.rss-feed-snippet {
  font-size: 85%;
}
.field-name-field-rss-block-link a {
  font-weight: bold;
}